# bentoml==1.0.25
# #bentoml==1.0.10
# joblib==1.2.0
# pip-chill==1.0.1
# torch==1.13.1
# torchvision==0.14.1
# tqdm==4.64.1
# wincertstore==0.2


# -e .

bentoml==1.0.25
joblib==1.2.0
pip-chill==1.0.1
torchvision==0.22.1
tqdm==4.64.1
wincertstore==0.2
boto3
mypy-boto3-s3
streamlit 
torch==2.7.1
gunicorn
matplotlib
-e .